@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Helvetica Neue Cyr Black', sans-serif;
    font-family: 'Gotham Pro Black', 'Gotham Pro Medium', 'Gotham Pro Regular', sans-serif;
    font-family: 'Montserrat SemiBold', 'Montserrat Regular', sans-serif;
    font-family: 'Gilroy Heavy', 'Gilroy SemiBold', 'Gilroy Medium', 'Gilroy Regular', sans-serif;



    /* font-family: 'Helvetica Neue Cyr Black', sans-serif;
    font-family: 'Gotham Pro', sans-serif;
    font-family: 'Gotham Pro Medium', sans-serif;
    font-family: 'Gotham Pro Regular', sans-serif;
    font-family: 'Gotham Pro Regular', sans-serif;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-family: 'Montserrat Regular', sans-serif;
    font-family: 'Gilroy Heavy', sans-serif;
    font-family: 'Gilroy SemiBold', sans-serif;
    font-family: 'Gilroy Medium', sans-serif;
    font-family: 'Gilroy Regular', sans-serif; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1042px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/descr-text';
@import 'blocks/learn';
@import 'blocks/program';
@import 'blocks/this-course';
@import 'blocks/courses';
@import 'blocks/record';
@import 'blocks/modal';
@import 'blocks/forms';
@import 'blocks/footer';
@import 'blocks/media';









/* @import 'blocks/header';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/carousel';
@import 'blocks/divider';
@import 'blocks/services';
@import 'blocks/blog';
@import 'blocks/contact';
@import 'blocks/forms';
@import 'blocks/pageup';
@import 'blocks/modal'; */
/* @import 'blocks/media'; */










