.record-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 60px;
        width: 300px;
        border-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 24px;
        border: none;
        padding: 0 27px;
        font-size: 18px;
        font-family: 'Gotham Pro Medium';
        font-weight: 500;
    }
    &__policy {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        input[type="checkbox"]{
            display: none;
        }
        label {
            margin: 0;
            &:before {
                content: '';
                display: block;
                width: 21px;
                height: 21px;
                background: #fff;
                margin-right: 16px;
                cursor: pointer;
            }
        }
        input[type="checkbox"]:checked + label::before {
			background: url('../icons/agree.svg') center (center / cover) no-repeat;
        }
        &_w465 {
            width: 465px;
        }
    }
    &__policy-text {
        font-family: 'Gilroy Regular';
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.6);
        span {
            font-family: 'Gilroy Regular';
            font-weight: 400;
            color: #FFFFFF;
        }
        &_w421 {
            width: 421px;
        }
    }
    &__input {
        &_w465 {
            input {
                width: 465px;
            }
        }
    }
}