
@media (max-width: 1200px) { /* щоб не було ломки, і контайнер адекватно відображався, ставимо 960рх і так з 720 і тд */
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__title {
            font-size: 60px;
            line-height: 60px;
        }
    }
    .about {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__photo {
            width: 355px;
            height: 416px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__item {
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__logo {
            top: 18px;
            left: 18px;
        }
        &__wrapper {
            width: 410px;
            margin-left: 0;
        } &__title {
            font-size: 50px;
            line-height: 50px;
        }
    }
    .about {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__photo {
            margin: 0 auto;
            margin-top: 70px;
            width: 100%;
            height: 100%;
            order: 2;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__item {
            width: 100%;
            order: 1;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .promo {
        min-height: 400px;
        padding: 120px 0 70px 0;
        background: url("../../img/first_screen/first_bg_screen_mobile.jpg") center (center/cover) no-repeat;
        &__logo {
            width: 68px;
            height: 34px;
            img {
                width: 100%;
            }
        }
        &__wrapper {
            width: 100%;
        } &__title {
            font-size: 40px;
            line-height: 40px;
        }
        &__text {
            font-size: 14px;
            line-height: 28px;
            width: 300px
        }
    }
    .button {
        width: 100%;
        height: 63px;
        font-size: 12px;
    }
    .about {
        &__photo {
            width: 242px;
            height: 272px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .title {
            font-size: 30px;
            line-height: 44px;
        }
        .descr {
            font-size: 18px;
            line-height: 34px;
        }
        .text {
            font-size: 14px;
            line-height: 28px;
        }
    }
}