.this-course {
    min-height: 883px;
    padding-top: 111px;
    background: url("../../img/third_screen/third_screen_bg.jpg") center (center/cover) no-repeat;
    &__item {
        margin-top: 164px;
        margin-left: 487px;
    }
}